.mainPage {
  min-height: calc(100vh - 104px);
  height: calc(100vh - 104px);
  position: relative;
  padding: 112px 64px 0px;
  overflow: hidden;

  @include respond(tablet) {
    padding: 40px 24px 0px;
  }

  .wait {
    .title {
      margin-bottom: 20px;
      font-size: 91px;
      font-weight: 300;
      line-height: 100px;
      letter-spacing: 0.02em;
      text-align: center;
      background: linear-gradient(90deg, #b6daff 0%, #ffffff 45.5%, #505e7d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;

      @include respond(tablet) {
        font-size: 40px;
        font-weight: 300;
        line-height: 56px;
        letter-spacing: 0.02em;
        text-align: left;
      }
    }

    .description {
      color: #717a8e;
      font-size: 32px;
      font-weight: 400;
      line-height: 44.8px;
      letter-spacing: 0.02em;
      text-align: center;

      span {
        font-size: 32px;
        font-weight: 400;
        line-height: 44.8px;
        letter-spacing: 0.02em;
        background: linear-gradient(90deg, #b6daff 0%, #ffffff 45.5%, #505e7d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      @include respond(tablet) {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-bottom: 50px;

        span {
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.02em;
        }
      }
    }

    .videoWrapper {
      .video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: translate(-50%, -50%);
        z-index: -1;

        @include respond(tablet) {
          left: 10px;
          top: 100px;
          transform: none;
        }
      }
    }

    .soon {
      position: absolute;
      width: max-content;
      bottom: 120px;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
      font-weight: 400;
      line-height: 44.8px;
      letter-spacing: 0.02em;
      text-align: center;

      @include respond(tablet) {
        position: static;
        transform: none;
      }
    }
  }
}
