.header {
  background: transparent;
  background: #000;
  position: sticky;
  overflow: visible;
  z-index: 9999;
  top: 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;

    @include respond(tabletL) {
      padding: 32px 24px;
    }

    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar {
      display: flex;

      @media (max-width: 912px) {
        display: none;
      }

      .list {
        display: flex;
        align-items: center;
        gap: 64px;

        .item {
          padding: 13px 0px;

          .link {
            @include Semibold_14;
            color: var(--white);
            opacity: 0.7;
            @include transition;
            cursor: pointer;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
