:root {
  //COLORS
  --background-main: #161616;
  --white: #ffffff;
  --d9: #d9d9d9;
  --background-btn-color: linear-gradient(
    240.62deg,
    rgba(46, 60, 86, 0.33) 6.19%,
    rgba(22, 9, 33, 0.48) 94.72%
  );
  --white_24: #FFFFFF3D;
  --blue: #357AFF;

  --btn-border: #e8eafd;
  --btn-shadow-one: 0px 0px 7.7px 1px #8a94f257;
  --btn-shadow-second: 0px 0px 8px 0px #7588e9cc inset;

  --bullet_shadow: 0px 2px 5.2px 0px #080316E8;

  --text_shadow: 0px 4px 18.1px #000000D6;
  --text_shadow_2: 0px 1px 9.6px #2c41ff;
}
