@import './consts.scss';
@import './globals.scss';

.scrollContainer {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
